<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update client</title>
</head>
<body>
<div>
  <h2>Update client</h2>
  <div>
    <div>
      <form action="#" th:action="@{/update/{id}(id=${client.id})}" th:object="${client}" method="post">
        <div>
          <div>
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
          </div>
          <div>
            <label for="phone">Phone</label>
            <input type="text" th:field="*{phone}" id="phone" placeholder="+380-XXX-XX-XX">
            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
          </div>
        </div>
        <div>
          <div>
            <input type="submit" value="Update client">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
